<h1 style="margin-bottom:40px">Contacts</h1>

<% if current_user %>
  <% @contacts.each do |contact| %>
    <% if contact.user_id == current_user.id %>
      <div style="margin-bottom:40px">
        <h4><a href='/contacts/<%= contact.id %>'><%= contact.first_name %> <%= contact.middle_name %> <%= contact.last_name %></a></h4>
        <p><em>Contact created at <%= contact.friendly_created_at %></em></p>
      </div>
    <% end %>
  <% end %>
<% end %>

<div>
  <a href="/contacts/new">Enter a New Contact</a>
</div>
