
<% if currrent_user %>

  <h1><%=@contact.full_name %></h1>
  <div><i>Contact created <%= @contact.friendly_created_at %></i></div>
  <div>
    <h5>First name: <%= @contact.first_name %></h5>
    <h5>Middle name: <%= @contact.middle_name %></h5>  
    <h5>Last name: <%= @contact.last_name %></h5>
    <h5>Email address: <%= @contact.email %></h5>
    <h5>Phone: <%= @contact.country_qualified_phone_num %></h5>  
    <h5>Bio: <%= @contact.bio %></h5>
  </div>

  <div style="margin-top:20px">
  <a href="/contacts">Back to your contact list</a>
  </div>
  <div>
    <a href="/contacts/<%=@contact.id%>/edit">Update this contact</a>
  </div>
  <div>
    <%= link_to "Destroy this Contact", "/contacts/#{@contact.id}", method: :delete %>
  </div>

<% end %>
